:root {
    /*--md-default-bg-color: #E0D3AF;*/
    
    --md-primary-fg-color: #CA6F1E;
    /*--md-primary-fg-color: #F8C471;*/
}

body {
    background-image: url("https://wallpapercave.com/wp/wp4064821.jpg");
    background-attachment: fixed;
}